<% if nop_process.completion_data_present? %>
  <span class="text-success">
    <i class="bi bi-check-circle-fill me-2"></i>Final Data Added
  </span>
<% else %>
  <%= render "shared/edit_button", label: "Add Final Data", path: edit_experiments_nop_process_path(nop_process) %>
<% end %>