<% content_for :page_title, render("shared/page_title", subtitle: "Manage different types.") %>

<div class="list-group">
  <%= link_to "Manage Equipment Types", admin_equipment_types_path, class: "list-group-item list-group-item-action" %>
</div>

