<div class="table-responsive">
  <table class="table table-striped table-hover align-middle table-compact">
    <thead class="table-light border-bottom">
      <tr>
        <%= capture(:col_headers, &headers) if headers.present? %>
      </tr>
    </thead>

    <tbody>
      <% collection.each do |item| %>
        <tr>
          <%= capture(item, &row) if row.present? %>
        </tr>
      <% end %>

      <% if collection.empty? %>
        <tr>
          <td colspan="20" class="text-muted text-center py-3">No records found.</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% if local_assigns[:pagy].present? %>
  <div class="mt-3">
    <%== local_assigns[:pagy].series_nav(:bootstrap) %>
  </div>
<% end %>
