<%# expects @breadcrumbs = [{ name: "...", path: "..."}] %>
<% if @breadcrumbs.present? %>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb small">
      <% @breadcrumbs.each_with_index do |crumb, index| %>
        <% last = index == @breadcrumbs.length - 1 %>

        <% if last %>
          <li class="breadcrumb-item active" aria-current="page">
            <%= crumb[:name] %>
          </li>
        <% else %>
          <li class="breadcrumb-item">
            <%= link_to crumb[:name], crumb[:path] %>
          </li>
        <% end %>
      <% end %>
    </ol>
  </nav>
<% end %>
